@font-face {
  font-family: "iconfont"; /* Project id 2576314 */
  src: url('iconfont.woff2?t=1692363881842') format('woff2'),
       url('iconfont.woff?t=1692363881842') format('woff'),
       url('iconfont.ttf?t=1692363881842') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playlist:before {
  content: "\ea83";
}

.icon-play:before {
  content: "\e66e";
}

.icon-sound-close:before {
  content: "\ea7d";
}

.icon-sound-open:before {
  content: "\ea7e";
}

.icon-stop:before {
  content: "\e628";
}

.icon-next:before {
  content: "\e8a8";
}

.icon-prev:before {
  content: "\e8a9";
}

.icon-random:before {
  content: "\e603";
}

.icon-loop:before {
  content: "\e75d";
}

.icon-female:before {
  content: "\e6e8";
}

.icon-male:before {
  content: "\e892";
}

.icon-subscribe:before {
  content: "\e632";
}

.icon-download:before {
  content: "\e76d";
}

.icon-share:before {
  content: "\e600";
}

