$--colors: (
  "primary": (
    "base": #ec4141
  ),
  "success": (
    "base": #21ba45
  ),
  "warning": (
    "base": #f2711c
  ),
  "danger": (
    "base": #db2828
  ),
  "error": (
    "base": #db2828
  )
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors
);
@use "./dark.scss";
:root {
  --el-menu-item-height: 30px;
  --el-header-height: 60px;
  --el-footer-height: 60px;

  --cm-header-text-color: #ffffff;
  --cm-content-text-color: #ffffff;
  --cm-aside-text-color: #ffffff;
  --cm-footer-text-color: #ffffff;

  --cm-header-bg-color: #ec4141;
  --cm-footer-bg-color: #ffffff;
  --cm-content-bg-color: #ffffff;

  --cm-placeholder-color: rgba(255, 255, 255, 0.5);
  --cm-opacity-bg-color: rgba(0, 0, 0, 0.1);

  --cm-custom-link-color: #507daf;
  --cm-custom-link-color-hover: #0b58b0;

  --cm-scrollbar-padding: 15px;
  --cm-scrollbar-content-space: 8px;
}
:root.dark {
  --cm-header-text-color: #ffffff;
  --cm-content-text-color: #ffffff;
  --cm-aside-text-color: #ffffff;
  --cm-footer-text-color: #ffffff;

  --cm-header-bg-color: #232326;
  --cm-footer-bg-color: #232326;
  --cm-content-bg-color: #2b2b2b;

  --cm-opacity-bg-color: rgba(0, 0, 0, 0.3);
}

// 滚动条宽度重置
.el-scrollbar__bar.is-vertical {
  width: 10px;
}
.el-scrollbar__bar {
  border-radius: 10px;
}

// 按钮hover等样式重置
.el-button--primary {
  &:hover,
  &:active,
  &:focus {
    background-color: var(--el-color-primary-dark-2);
    border-color: var(--el-color-primary-dark-2);
  }
}
.el-button--default {
  &:hover,
  &:active,
  &:focus {
    background-color: var(--el-color-info-light-9);
    border-color: var(--el-border-color);
    color: inherit;
  }
}
.el-button .iconfont {
  margin-right: 0.2em;
}

// 浏览器自带滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--el-text-color-secondary);
}
